{
	"extends": ["stylelint-config-standard", "stylelint-config-recess-order"],
	"rules": {
		"at-rule-no-unknown": null,
		"value-keyword-case": null,
		"rule-empty-line-before": [
			"always-multi-line",
			{
				"except": ["first-nested", "after-single-line-comment"]
			}
		],
		"no-descending-specificity": null
	},
	"ignoreFiles": ["**/*.js", "**/*.jsx"]
}
