@use '../../css/globals';
@use '../../css/variables';

#github-sidebar {
	.sidebar {
		header {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: variables.$sidePadding;
			color: var(--headerText);
			background: var(--headerBg);
			border-right: 1px solid var(--headerBorder);
			border-bottom: 1px solid var(--headerBorder);

			.loader {
				height: 5rem;
				margin-left: 1rem;
				opacity: 0.4;
			}

			.iconBtn {
				color: var(--headerIcon);

				&:hover {
					color: var(--headerIconHover);
				}
			}

			.warningBtn {
				margin-right: 0.5rem;
				color: var(--red);

				&:hover {
					opacity: 0.7;
				}
			}

			.error {
				ul {
					position: absolute;
					left: 0.5rem;
					z-index: 4000;
					width: variables.$sidebarWidth - 1;
					padding: 0.4rem;
					margin-top: 1rem;
					color: var(--errorText);
					list-style-type: none;
					background: var(--errorBg);
					border: 1px solid var(--errorBorder);
					box-shadow: rgb(0 0 0 / 24%) 0 0 6px 0;

					&::after {
						position: absolute;
						bottom: 100%;
						left: 86%;
						width: 0;
						height: 0;
						margin-left: -10px;
						pointer-events: none;
						content: ' ';
						border: solid transparent;
						border-color: rgb(0 0 0 / 0%);
						border-width: 10px;
						border-bottom-color: var(--errorBg);
					}

					li {
						border-width: 1px;

						&:first-child {
							margin-top: 0;
						}

						&:last-child {
							margin-bottom: 0;
						}

						p {
							margin: 0;
							color: var(--errorSubText);
							@include globals.fontSizeSmall();
						}
					}
				}
			}
		}
	}
}
