@import "../../css/globals.scss";


#github-sidebar {
    .sidebar {
        main {
            .repositories {
                margin-bottom: 2rem;

                .repository {
                    margin-bottom: 2px;
                    
                    .item {
                        display: flex;
                        overflow: hidden;
                        margin-top: 0.15rem;
                        margin-bottom: 0.15rem;
                    }

                    .repoHeading {
                        display: flex;
                        background: $gray-900;
                        color: $white;

                        .readButton {     
                            justify-content: flex-start;

                            .color {
                                border-radius: 0 2px 2px 0;
                                width: 70%;
                            }

                            &:hover {
                                .color {
                                    width: 70%;
                                }
                            }

                            &.read {
                                .color {
                                    width: 0%;
                                }
                    
                                &:hover {
                                    .color {
                                        width: 50%
                                    }
                                }
                            }
                        }

                        .expand {
                            &:hover {
                                opacity: 0.7;
                                cursor: pointer;
                            }

                            .icon {
                                color: $gray-500;
                                translate: rotateZ(0deg);
                                transition: transform 0.2s ease-out;
                                transform: scale(0.7);
                            }
                        }

                        h3 {
                            @include fontSizeNormal();
                            padding-top: $topPadding;
                            padding-bottom: $topPadding;

                            a {
                                color: $white;
                            }
                        }
                        
                        .repoCount {
                            display: flex;
                            flex-direction: column;
                            line-height: 1rem;
                            color: $gray-500;
                            @include fontSizeSmall();
                            text-align: right;
                        }
                    }

                    &.collapsed .repoHeading .icon {
                        transform: scale(0.7) rotateZ(-180deg);
                    }

                    .items {
                        overflow: hidden;
                        transition: max-height 0.2s ease-out;

                        // Adds margin to last ul inside items
                        & div:last-child ul {
                            margin-bottom: 1rem;
                        }
                    }

                    .pullRequests {
                        margin-bottom: 0.4rem;
                    }

                    .itemHeading {
                        padding: .8rem 0 0.2rem 0;
                        display: flex;
                        align-items: center;

                        .icon {
                            color: $gray-500;
                        }

                        h4 {
                            display: inline;
                            @include fontSizeNormal();
                            
                            a {
                                color: $gray-500;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }

            &.noRepos {
                padding: 2rem;
                display: flex;

                .justifier {
                    margin: auto;

                    p {
                        color: $white;
                        line-height: 1rem;
                    }
                }
            }
        }
    }
}