@import "../../css/globals.scss";


#github-sidebar {
    .sidebar {
        main {
            flex: 1;
            border-right: 1px solid $gray-500;
            overflow-y: scroll;

            ul {
                list-style-type: none;
            }

            .repository {
                padding: 0.8rem;
                border-bottom: 1px solid $gray-500;

                &:nth-child(even) {
                    background: darken($gray-100, 2%);
                }

                .heading {
                    display: flex;
                    justify-content: space-between;
                    font-weight: bold;
                }

                ul {
                    margin-top: .8rem;
                    padding-left: .6rem;
                }
            }
        }
    }
}