@use '../../css/globals';

#github-sidebar {
	.readButton {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		height: 100%;

		.color {
			width: 80%;
			height: 100%;
			background: var(--yellow);
			border-radius: 2px 0 0 2px;
			transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
		}

		&:hover {
			cursor: pointer;

			.color {
				opacity: 0.8;
			}
		}

		&.read {
			.color {
				width: 30%;
			}

			&:hover {
				.color {
					width: 60%;
				}
			}
		}
	}
}
