@import "../../css/globals.scss";


#github-sidebar {
    .readButton {
        position: absolute;
        align-items: right;
        height: 100%;
        left: 0rem;
        width: 1rem;
        transform: translateX(-100%);
        top: 0;
        display: flex;
        justify-content: flex-end;

        .color {
            height: 100%;
            border-radius: 2px 0 0 2px;
            width: 100%;
            transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        &:hover {
            cursor: pointer;

            .color {
                opacity: 0.9;
            }
        }

        &.read {
            .color {
                width: 30%;
            }

            &:hover {
                .color {
                    width: 70%
                }
            }
        }
    }
}