@import "../../css/globals.scss";


#github-sidebar {
    .circleButton {
        width: 1rem;
        height: 1rem;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        .circle {
            height: 80%;
            width: 80%;
            background: $gray-500;
            border-radius: 50%;
            border: 1px solid $gray-500;
        }

        &:hover {
            cursor: pointer;
            .circle {
                background: lighten($gray-500, 4%)
            }
        }

        &.read {
            .circle {
                background: transparent;
            }

            &:hover {
                .circle {
                    background: $white;
                }
            }
        }
    }
}