@use './_variables';

%listItem {
	position: relative;
	padding: 0.3rem 0.5rem;
	overflow: hidden;
	color: var(--repoItemText);
	background-color: var(--repoItemBg);
	border-radius: 0 2px 2px 0;
}

%text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

%content {
	flex: 1 1 auto;
}

%top {
	display: flex;
	justify-content: space-between;
	user-select: none;
}

%remove {
	margin-top: -0.5rem;
	margin-bottom: -0.5rem;
	font-size: 1.5rem;
	font-weight: unset;
	color: var(--repoItemSubText);
	background: transparent;
	border: 0;
}
