//
// Color system
// 
$white: #fff;
$black: #24292e;
$gray-100: #fafbfc;
$gray-200: #f5f8fa;
$gray-500: #e1e4e8;
$gray-700: #b6bcc2;
$gray-800: #586069;
$gray-900: lighten($black, 4%);
$blue: #c2e1fd;
$lightBlue: #f0f8ff;
$red: #ed4d4d;
$yellow: #fdb23c;
$green : #57c08b;

$sidebarWidth: 20rem;
