//
// Color system
// 
$white: #fff;
$black: #24292e;
$gray-100: #fafbfc;
$gray-200: darken($gray-100, 3%);
$gray-500: #e1e4e8;
$gray-700: #b6bcc2;
$gray-800: #586069;
$gray-900: lighten($black, 4%);
// $blue: #1cb1df;
$blue: #0366d6;
$lightBlue: lighten($blue, 56%);
$red: #ed4d4d;
$yellow: #fdb23c;
$green : #57c08b;

$sidebarWidth: 20rem;
