
//
// Color system
// 
$white: #fff;
$black: #24292e;
$gray-100: #fafbfc;
$gray-500: #e1e4e8;
$gray-800: #586069;
$blue: #0366d6;
$red: #ed4d4d;
$yellow: #fdb23c;
$green : #57c08b;

$sidebarWidth: 20rem;
