// Icons by sti#fi
// https://codepen.io/stiffi/pen/ysbCd

#github-sidebar {
    .iconBtn {
        color: $white;
        width: 1rem;

        &:hover {
            color: rgba($white, .7);
        }
    }

    .icon {
        position: relative;
    }

    .icon:before,
    .icon:after {
        position: absolute;
        content: "";
        display: block;
    }

    /* Gear */
    .icon-gear:before {
        width: 1rem;
        height: 1rem;
        box-shadow: 0 0 0 4px inset;
        border-radius: 16px;
        border: 1px dashed;
        top: 1px;
    }
}