@import "./globals.scss";

body {
    padding-left: $sidebarWidth !important;
}

#github-sidebar {
    position: fixed;
    height: 100%;
    width: $sidebarWidth;
    top: 0;
    left: 0;
    background-color: $gray-100;
    z-index: 1000;


    // Generic classes
    .text-truncate {
        @extend %text-truncate;
    }

    .text-green {
        color: $green;
    }

    .v-align-middle {
        vertical-align: middle !important;
    }

    .align-center {
        display: flex;
        align-items: center;
    }

    .icon {
        vertical-align: text-bottom;
        display: inline-block;
        fill: currentColor;
    }

    // Design
    .sidebar {
        height: 100%;
        display: flex;
        flex-direction: column;

        .link-muted {
            color: $gray-800;
        }

        .listItem {
            @extend %listItem;

            &:hover {
                background: $gray-100;
            }

            &.APPROVED {
                border-left-color: $green;
            }

            &.CHANGES_REQUESTED {
                border-left-color: $red;
            }

            a {
                display: flex;
                text-decoration: none;

                &:hover h5 {
                    text-decoration: underline;
                }
            }

            .itemIcon {
                margin-right: .5rem;
            }

            .content {
                @extend %content;

                .top {
                    @extend %top;

                    .comments {
                        @include fontSizeSmall();
                        color: $gray-800;
                        min-width: auto;
                    }

                    .remove {
                        @extend %remove;

                        &:hover {
                            color: $red;
                            cursor: pointer;
                        }
                    }
                }

                .bottom {
                    @include fontSizeSmall();
                    color: $gray-800;
                }
            }
        }
    }
}