@use './globals';
@use './theme';
@use './variables';

body {
	padding-left: variables.$sidebarWidth !important;
}

#github-sidebar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: variables.$sidebarWidth;
	height: 100%;

	// Define custom scrollbar
	::-webkit-scrollbar {
		width: 13px; /* for vertical scrollbars */
		height: 13px; /* for horizontal scrollbars */
	}

	::-webkit-scrollbar-track {
		background: var(--scrollbarBg);
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--scrollbarThumb);
		border: 3px solid var(--scrollbarThumbBorder);
		border-radius: 5px;
	}

	// Generic classes
	a {
		color: var(--sidebarLink);
	}

	.text-truncate {
		@extend %text-truncate;
	}

	.v-align-middle {
		vertical-align: middle !important;
	}

	.align-center {
		display: flex;
		align-items: center;
	}

	.APPROVED {
		background: var(--green) !important;
	}

	.CHANGES_REQUESTED {
		background: var(--red) !important;
	}

	.DEFAULT {
		background: var(--yellow) !important;
	}

	.icon {
		display: inline-block;
		vertical-align: text-bottom;
		fill: currentColor;
	}

	// Grid
	.grid-1 {
		$marginRight: calc(variables.$sidePadding / 5);

		display: flex;
		align-items: center;
		width: variables.$sidePadding;
		min-width: variables.$sidePadding;
		margin-right: $marginRight;

		&.no-gutters {
			width: variables.$sidePadding + $marginRight;
			min-width: variables.$sidePadding + $marginRight;
			margin-right: 0;
		}
	}

	.grid {
		display: flex;
		flex-grow: 1;
		align-items: center;
		justify-content: space-between;
		margin-right: variables.$sidePadding;
		overflow: hidden;
	}

	// Design
	.sidebar {
		display: flex;
		flex-direction: column;
		height: 100%;
		color: var(--sidebarText);
		background-color: var(--sidebarBg);

		ul {
			list-style-type: none;
		}

		main {
			flex: 1;
			overflow-y: auto;
			border-right: 1px solid var(--sidebarBorder);
		}

		label {
			display: block;
			margin: 0.5rem 0;
			font-weight: normal;
		}

		input[type='text'],
		input[type='number'] {
			width: 100%;
			padding: 0.3rem 0.5rem;
		}

		em {
			@include globals.fontSizeSmall();

			display: block;
			white-space: nowrap;
			opacity: 0.6;
		}

		.ghs-btn {
			padding: 1rem;
			text-align: center;
			background: var(--darkYellow);
			border: 2px solid #bb8f4c;
			border-radius: 4px;
			box-shadow: 0 0 6px rgb(0 0 0 / 40%);
		}

		.sidebar-button {
			width: 100%;
			padding: 0.375rem 0.75rem;
			margin-top: 2rem;
			color: var(--sidebarButtonText);
			vertical-align: middle;
			cursor: pointer;
			background: var(--sidebarButton);
			border: none;
			border-radius: 0.25em;
			@include globals.fontSizeNormal();

			&:hover {
				opacity: 0.94;
			}

			&:active {
				filter: saturate(150%);
				transform: translateY(1px);
			}

			&[disabled] {
				font-style: italic;
				cursor: unset;
				background: var(--sidebarButtonDisabled);
			}
		}

		.listItem {
			@extend %listItem;

			a {
				display: flex;
				flex-grow: 1;
				overflow: hidden;
				color: var(--repoItemText);
				text-decoration: none;

				&:hover h5 {
					text-decoration: underline;
				}
			}

			.itemIcon {
				margin-right: 0.5rem;
			}

			.content {
				@extend %content;

				.top {
					@extend %top;

					h5 {
						font-weight: normal;
					}

					.comments {
						@include globals.fontSizeSmall();

						min-width: auto;
						margin-left: 0.5rem;
						color: var(--repoItemSubText);
					}

					.remove {
						@extend %remove;

						&:hover {
							color: var(--red);
							cursor: pointer;
						}
					}
				}

				.bottom {
					@include globals.fontSizeSmall();

					color: var(--repoItemSubText);
				}
			}
		}

		.listItem.selected {
			background: var(--selected);

			a {
				color: var(--selectedText);
			}

			.content {
				.top {
					.comments {
						color: var(--selectedSubText);
					}
				}

				.bottom {
					color: var(--selectedSubText);
				}
			}
		}
	}
}
