@import './globals.scss';
@import './themes.scss';

body {
	padding-left: $sidebarWidth !important;
}

#github-sidebar {
	position: fixed;
	height: 100%;
	width: $sidebarWidth;
	top: 0;
	left: 0;
	z-index: 1000;

	// Define custom scrollbar
	::-webkit-scrollbar {
		width: 13px; /* for vertical scrollbars */
		height: 13px; /* for horizontal scrollbars */
	}

	::-webkit-scrollbar-track {
		background: var(--scrollbarBg);
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--scrollbarThumb);
		border: 3px solid var(--scrollbarThumbBorder);
		border-radius: 5px;
	}

	// Generic classes
	a {
		color: var(--sidebarLink);
	}

	.text-truncate {
		@extend %text-truncate;
	}

	.v-align-middle {
		vertical-align: middle !important;
	}

	.align-center {
		display: flex;
		align-items: center;
	}

	.APPROVED {
		background: var(--green) !important;
	}

	.CHANGES_REQUESTED {
		background: var(--red) !important;
	}

	.DEFAULT {
		background: var(--yellow) !important;
	}

	.icon {
		vertical-align: text-bottom;
		display: inline-block;
		fill: currentColor;
	}

	// Grid
	.grid-1 {
		$marginRight: $sidePadding/5;

		display: flex;
		align-items: center;
		width: $sidePadding;
		min-width: $sidePadding;
		margin-right: $marginRight;

		&.no-gutters {
			width: $sidePadding + $marginRight;
			min-width: $sidePadding + $marginRight;
			margin-right: 0;
		}
	}

	.grid {
		display: flex;
		align-items: center;
		flex-grow: 1;
		justify-content: space-between;
		margin-right: $sidePadding;
		overflow: hidden;
	}

	// Design
	.sidebar {
		height: 100%;
		display: flex;
		flex-direction: column;
		background-color: var(--sidebarBg);
		color: var(--sidebarText);

		ul {
			list-style-type: none;
		}

		main {
			flex: 1;
			border-right: 1px solid var(--sidebarBorder);
			overflow-y: auto;
		}

		label {
			font-weight: normal;
			display: block;
			margin: 0.5rem 0;
		}

		input[type='text'],
		input[type='number'] {
			width: 100%;
			padding: 0.3rem 0.5rem;
		}

		em {
			@include fontSizeSmall();

			display: block;
			opacity: 0.6;
			white-space: nowrap;
		}

		.sidebar-button {
			background: var(--sidebarButton);
			border-radius: 0.25em;
			border: none;
			color: var(--sidebarButtonText);
			cursor: pointer;
			@include fontSizeNormal();

			padding: 0.375rem 0.75rem;
			vertical-align: middle;
			width: 100%;
			margin-top: 2rem;

			&:hover {
				opacity: 0.94;
			}

			&:active {
				transform: translateY(1px);
				filter: saturate(150%);
			}

			&[disabled] {
				background: var(--sidebarButtonDisabled);
				font-style: italic;
				cursor: unset;
			}
		}

		.listItem {
			@extend %listItem;

			a {
				display: flex;
				text-decoration: none;
				color: var(--repoItemText);
				overflow: hidden;
				flex-grow: 1;

				&:hover h5 {
					text-decoration: underline;
				}
			}

			.itemIcon {
				margin-right: 0.5rem;
			}

			.content {
				@extend %content;

				.top {
					@extend %top;

					h5 {
						font-weight: normal;
					}

					.comments {
						@include fontSizeSmall();

						color: var(--repoItemSubText);
						min-width: auto;
						margin-left: 0.5rem;
					}

					.remove {
						@extend %remove;

						&:hover {
							color: var(--red);
							cursor: pointer;
						}
					}
				}

				.bottom {
					@include fontSizeSmall();

					color: var(--repoItemSubText);
				}
			}
		}

		.listItem.selected {
			background: var(--selected);

			a {
				color: var(--selectedText);
			}

			.content {
				.top {
					.comments {
						color: var(--selectedSubText);
					}
				}

				.bottom {
					color: var(--selectedSubText);
				}
			}
		}
	}
}
