//
// General/dark theme
// 
:root {  
    --white: #fff;
    --gray-500: #989DA1; 
    --gray-700: #414950;
    --gray-800: #2E343A;
    --gray-900: #222629;
    --red: #ed4d4d;
    --yellow: #FDB23C;
    --green : #4DC58B;
}