@import "../../css/globals.scss";


#github-sidebar {
    .sidebar {
        .settings {
            padding: 1rem;

            .list {
                margin-bottom: .5rem;
            }

            select {
                width: 100%;
                height: 2rem;
            }

            button {
                &.add {
                    margin-top: 0.5rem;
                }
            }

            .listItem:hover {
                cursor: move;
            }

        }
    }
}

.github-sidebar-sort {
    @extend %listItem;
    z-index: 10000;
    background: $gray-100;
    list-style-type: none;

    .text-truncate {
        @extend %text-truncate;
    }

    .content {
        @extend %content;

        .top {
            @extend %top;

            .remove {
                @extend %remove;
            }
        }
    }
}