@import "../../css/globals.scss";


#github-sidebar {
    .sidebar {
        .settings {
            padding: $topPadding $sidePadding;
            color: $gray-500;

            .list {
                margin-bottom: .5rem;

                &.miscellaneous {
                    margin-top: 3rem;
                }

                .listItem {
                    margin-top: 0.15rem;
                    margin-bottom: 0.15rem;
                }
            }

            select {
                width: 100%;
                height: 2rem;
            }

            button {
                &.add {
                    margin-top: 0.5rem;
                    padding: 1.5rem;
                }
            }

            input, select {
                background: $gray-700;
                color: $white;
                border: 0;
            }

            .listItem:hover {
                cursor: move;
            }

            .credit {
                @include fontSizeSmall();
                text-align: right;
                margin-top: 2rem;
            }

        }
    }
}

.github-sidebar-sort {
    @extend %listItem;
    z-index: 10000;
    list-style-type: none;

    .text-truncate {
        @extend %text-truncate;
    }

    .content {
        @extend %content;

        .top {
            @extend %top;

            .remove {
                @extend %remove;
            }
        }
    }
}