@use '../../css/globals';
@use '../../css/variables';

#github-sidebar {
	.sidebar {
		.settings {
			padding: variables.$topPadding variables.$sidePadding;
			color: var(--settingsText);

			.list {
				margin-bottom: 0.5rem;

				.listItem {
					margin-top: 0.15rem;
					margin-bottom: 0.15rem;
				}
			}

			select {
				width: 100%;
				height: 2rem;
			}

			button {
				&.add {
					padding: 1.5rem;
					margin-top: 0;
					margin-bottom: 0.5rem;
				}
			}

			input,
			select {
				color: var(--repoItemText);
				background: var(--repoItemBg);
				border: 0;
			}

			input:disabled,
			select:disabled {
				opacity: 0.2;
			}

			.listItem:hover {
				cursor: move;
			}

			.credit {
				@include globals.fontSizeSmall();

				margin-top: 2rem;
				text-align: right;
			}

			.autoSave {
				position: fixed;
				bottom: 0;
				left: 0;
				padding: variables.$sidePadding;
				color: var(--sidebarButtonText);
				background: var(--sidebarButton);
				box-shadow: 0 0 4px 2px rgb(0 0 0 / 25%);
				opacity: 0;
				transition: 0.3s opacity;

				&.show {
					opacity: 1;
				}
			}
		}
	}
}

.github-sidebar-sort {
	@extend %listItem;

	z-index: 10000;
	list-style-type: none;

	.text-truncate {
		@extend %text-truncate;
	}

	.content {
		@extend %content;

		.top {
			@extend %top;

			.remove {
				@extend %remove;
			}
		}
	}
}
