@use '../../css/globals';

#github-sidebar {
	.settings {
		.singleAccessToken {
			margin-top: 2rem;
			margin-bottom: 2rem;
		}

		.accessTokenPusher {
			display: grid;
			gap: 4px;
			padding: 1rem;
			margin-top: 2rem;
			margin-right: -1rem;
			margin-bottom: 2rem;
			margin-left: -1rem;
			color: var(--darkYellow);
			background-color: var(--sidebarLink);

			ul {
				padding-left: 1rem;
				list-style-type: disc;
			}

			em {
				text-align: center;
			}

			img {
				margin: 1rem auto;
			}

			.tokenInput {
				margin-top: 1rem;
				color: var(--darkYellow);
				background: var(--white);
			}
		}
	}
}
