@import '../../css/globals.scss';

#github-sidebar {
	.sidebar {
		.splash {
			color: var(--sidebarText);
			padding: 2rem;
			display: flex;

			.justifier {
				margin: auto;

				p {
					line-height: 1rem;
					margin-bottom: 2rem;

					em {
						margin-top: 0.2rem;
						white-space: normal;
					}
				}

				a {
					color: var(--sidebarLink);
					font-size: 1.2rem;

					&:hover {
						border-bottom: 1px solid var(--sidebarLink);
						text-decoration: none;
					}
				}

				button {
					margin-top: 1rem;

					&[disabled] {
						opacity: 0.3;
					}
				}
			}
		}
	}
}
