@import "../../css/globals.scss";


#github-sidebar {
    .sidebar {
        .splash {
            color: var(--white);
            padding: 2rem;
            display: flex;

            .justifier {
                margin: auto;

                p {
                    line-height: 1rem;
                    margin-bottom: 2rem;

                    em {
                        margin-top: 0.2rem;
                    }
                }

                a {
                    color: var(--yellow);
                    border-bottom: 1px solid var(--yellow);
                    font-size: 1.2rem;

                    &:hover {
                        text-decoration: none;
                        color: var(--white);
                    }
                }

                button {
                    margin-top: 1rem;

                    &[disabled] {
                        background: var(--gray-700);
                        color: rgba(var(--white), 0.3);
                        border: var(--gray-800);
                    }
                }
            }
        }
    }
}